
numpy
pandas
seaborn
torchvision
matplotlib
opencv-python
opencv-contrib-python
Cython
scipy
pyyaml
json_tricks
scikit-image
tensorboardX
yacs
cffi
munkres
tqdm
wheel
pycocotools
EasyDict==1.7
torch==1.4.0
coremltools==2.0
keras==2.1.6
tensorflow==1.5.0

